body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

main{
    background-color: rebeccapurple;
    color: white;
    font-family: 'Poppins',sans-serif;
    padding: 5rem;
}

input{
    width: 60%;
    height: 20px;
    border: none;
    outline: none;
}

button{
    height: 22px;
    border: none;
    outline: none;
    background-color: tomato;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

h1{
    text-align: center;
}